
/***############### Beginning of Website-specific style sheet. ****/

/*General Styles*/
input, textarea, button { padding: 5px 12px; border: 2px solid #a0a0a0; border-radius: 4px; transition: 0.4s; }
button { background-color: #e0e0e0; }
button:hover { background-color: #f0f0f0; transition: 0.4s; }

.city-search .form-transmission-results { padding-top: 30px; padding-bottom: 60px; }


/*Header*/
.header { padding-bottom: 40px; }
.main-title-container { padding-left: 30px; }
.main-title-container__main-title { font-weight: bold; color: #333333; }
.subtitle-container { padding-left: 30px; }
.subtitle-container__sub-title { font-weight: bold; color: #333333; }


/*Location Search Form*/
.city-search__city-name-label { padding-right: 10px; margin-bottom: 5px; font-size: 20px; font-weight: 600; }
.city-search__input { margin-bottom: 10px; }
.city-search__search-city-button { }


/*Location Search Results*/
.location-search__query { padding-bottom: 30px; }
.location-search__intro { padding-bottom: 10px; }
.location-search__results { }
.location-search__results__city { padding-bottom: 8px; font-weight: bold; }
.location-search__results__state-or-country { }


/*Weather section*/
.weather-city { padding-bottom: 30px; }
.weather-day { padding: 15px 10px; margin-bottom: 60px; border: 3px solid #d0d0d0; border-radius: 5px; background-color: #f4f4f4; }
.weather-info .weather-day__date { padding-bottom: 12px; padding-left: 12px; font-size: 18px; font-weight: bold; }
.weather-day__min-temp { display: inline-block; }
.weather-day__max-temp { display: inline-block; padding-left: 20px; }
.weather-day__conditions { padding-bottom: 20px; }
.weather-day__wind { }
.weather-day__air-pressure { }
.weather-day__humidity { }
.weather-day__visibility { padding-bottom: 12px; }
.weather-day__image-container { }
.weather-day__image { display: block; margin-left: auto; margin-right: auto; }



@media only screen and (min-width: 768px){

    /*Weather section*/
    .weather-day { }
    
    
    /*Location Search Form*/
    .city-search__city-name-label { margin-bottom: 0; }
    .city-search__input { margin-bottom: 0; }
    .city-search__search-city-button { }
    
}



@media only screen and (min-width: 1200px){
    
    .container { width: 80%; max-width: 1540px; }
    
    /*Header*/
    .main-title-container { padding-left: 50px; }
    .subtitle-container { padding-left: 50px; }
    
    
    /*Weather section*/
    .weather-day { }
    
}
